/.idea
/*.iml
/_site
Gemfile.lock
package-lock.json

/node_modules/*

!/node_modules/d.js
/node_modules/d.js/*
!/node_modules/d.js/lib/
/node_modules/d.js/lib/*
!/node_modules/d.js/lib/D.min.js

!/node_modules/dot
/node_modules/dot/*
!/node_modules/dot/doT.min.js

!/node_modules/photo-sphere-viewer
/node_modules/photo-sphere-viewer/*
!/node_modules/photo-sphere-viewer/dist

!/node_modules/three
/node_modules/three/*
!/node_modules/three/build/
/node_modules/three/build/*
!/node_modules/three/build/three.min.js

!/node_modules/three/examples
/node_modules/three/examples/*
!/node_modules/three/examples/js
/node_modules/three/examples/js/*
!/node_modules/three/examples/js/renderers
/node_modules/three/examples/js/renderers/*
!/node_modules/three/examples/js/renderers/CanvasRenderer.js
!/node_modules/three/examples/js/renderers/Projector.js

!/node_modules/uevent
/node_modules/uevent/*
!/node_modules/uevent/uevent.min.js
