.psv-resolution-button {
  &-value {
    position: absolute;
    right: $psv-buttons-padding / 2;
    bottom: $psv-buttons-padding / 2;
    color: white;
    font-family: $psv-caption-font;
    font-size: .7em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }
}

.psv-resolutions-list {
  list-style: none;
  position: absolute;
  bottom: $psv-navbar-height;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: $psv-notification-zindex + 2;
  display: none;

  &--open {
    display: block;
  }

  &-item {
    @include user-select(none);
    box-sizing: border-box;
    color: white;
    background: $psv-navbar-background;
    font-family: $psv-caption-font;
    font-size: .8em;
    padding: .25em .75em;
    min-width: $psv-navbar-height;
    text-align: center;

    &--active {
      color: $psv-navbar-background;
      background: white;
    }

    &:not(&--active):hover {
      background: lighten($psv-navbar-background, 20);
    }
  }
}
